#app {
    max-width: 50%;
    margin: 0 auto;
}

h1 {
    margin: 0 0 1.5rem 0;
    font-size: 2rem;
    color: #fff;
}

button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #646cff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1.5rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #535bf2;
}
